body{
background-color: black;
}
.navbar{
    height: 85px ;
    background-color: black;
}
.navbar img{
    width: 50px;
    display: inline;
}
li{
    text-decoration: none;
    float: right;
    display: inline;
}
a{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;   
}
#home{
    color:orange;
}
#About{
    color:dodgerblue  ;
}
#Contact{
    color: white;
}
#FAQ{
    color: greenyellow;
    padding: 30px;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family:sans-serif;
    font-weight: 600;
    padding: 0px;
}
h4{
    text-align: center;
    padding: 0px;
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
}
.tophalf{
    text-align: center;
    ;
}
button{
    padding: 15px;
    border-radius:35px 35px 35px 35px;
    font-size: 20px;
}
.tophalf{
    background-image:url(sailboat.jpg) ;
    background-size: cover;    
    width: 100%;
    height: 100vh;
    }
    .people{
        background-color: black;
        display: inline-block;
    }
   .ourteam{
        color: greenyellow;
    }
    .people{
        width: 100%;
    }
    .people img{
        border-radius: 100%;
        padding: 5px;
        border: 5px solid white;
    }
    h3{
        color: white;
    }
    .orange{
        color: orangered;
    }
    .blue{
        color: dodgerblue;
    }
.white{
    color: white;
}    
.green{
    color: greenyellow;
}
.avatar{
    width: 25%;
    float: left;
    text-align: center;
}

p{
    text-align: center;
    color: orangered;
    font-size: 20px;
}
.item{
    width:20%;
    float: left;
    text-align: center;
    margin: 15px 70px; 
    padding:0px 0 0 20px
}
.item img{
    float: right;
    width: 100%;
}

.parent{
    background-color: black;
    margin: auto;
    width:90% ;
}
.clearfix{
clear: both;
}
#first{
    border: 5px solid orange;
}
#second{
    border: 5px solid dodgerblue;
}
#fourth{
    border: 5px solid greenyellow;
}
#phone{
background-color: greenyellow;
}
#mic{
    background-color: dodgerblue;
}
#drone{
    background-color:orangered ;
}
#camera{
    background-color: orangered;
}
#tab{
    background-color: yellowgreen;
}
#FAX{
    background-color: dodgerblue;
}
h6{
    font-size: 12px;
}
